
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 65%;
    
}
/*root  for all colors */
:root {
--first-color: whitesmoke;
--second-color: black; ;
--third-color: #5C6BC0;
--fourth-color: #6699ff;
--fifth-color:lightgrey;
--sixth-color:grey;
--seventh-color:#0277BD;
--eighth-color:#00334d;
--primary-color1:green;
--primary-color2:yellow;
--primary-color3:red;



}



/* used to help determine layout */
.border {
    border: 1px solid var(--second-color);
}

.spacebetween{
    justify-content: space-around;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.colforcities1 {
    width: 20%;
    margin: 0 auto;
}

.colforcities2 {
    width: 65%;
    margin-right: auto;
    margin-top: 1%;
}

.colforcities3 {
    width: 20%;
    
}


/* make body full page size depending on viewport */
body { min-height: 100vh; }

/* style the header */
header {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color:var(--third-color) ;
}

/* style the heading */
.heading {
    color: var(--first-color);
    font-size: 50px;
    font-weight: bold;
}

/* style the h1 */
.h1 {
    font-weight: bold;
    font-size: 35px;
    margin: 15px auto;
}
/* style the h2 */
h2 {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 1%;
}

/* style the text area where user inputs city name */
#city {
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--first-color);
    height: 40px;
    padding-bottom: 8px;
    padding-top: 0px;
    padding-left: 8px;
    justify-content: center;
}

/* style the search button */
#search-btn {
    margin-bottom: 20px;
    background-color:var(--fourth-color);
    color: var(--second-color);
    border: 2px var(--second-color);
}

/* style the history buttons */
.btn {
    font-size: 15px;
    width: 100%;
    background-color:var(--fifth-color) ;
    color: var(--second-color);
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    padding: 8px 0;
}



/* style current weather container */
#current-weather {
    height: 40%;
    border: 1.6px solid var(--second-color);
}

/* style the list in weather container */
ul {
    list-style-type: none;
    font-size: 35px;
    font-weight: bold;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
}

/* style the icon */
#current-weather-icon {
    filter: drop-shadow(0 0 8px var(--sixth-color));
}

/* style the uv index background */
.favorable {
    background-color:var(--primary-color1);
    font-size: 16x;
    
}

.moderate {
    background-color:var(--primary-color2);
    font-size: 16x;
    
}

.severe {
    background-color:var(--primary-color3);
    font-size: 16px;
}

/* add padding to the index on UV index value */
span {
    padding: 0 20px;
    color: var(--second-color);
}

/* style the h3 header */
h3 {
    font-weight: bold;
    font-size: 20px;
    color:var(--first-color);
}

/* style the .card-body */
.card-body {
    background-color:var(--seventh-color);
    height: 300px;
    padding-left: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 3px;
}

/* style the weather details in the .card-body */
p {
    font-size: 16px;
    color: var(--first-color);
}

/* style the five-day-header */
#five-day-header {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1144px) {
    
    .colforcities1 {
        width: 100%;
        text-align: center;
    }

    #city-search, hr, .btn {
        width: 25%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #city {
        text-align: center;
    }

    #search-history {
        display: flex;
        flex-direction: column;
    }

    #search-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .colforcities2 {
        width: 100%;
    }

    .colforcities3 {
        width: 100%;
    }

    #current-weather {
        height: 20%;
        margin: 0 auto;
        text-align: center;
        margin-top: 2rem;
        width: 500px;
    }

    h2 {
        justify-content: center;
    }

    .card-body {
        background-color: #00334d;
        height: 150px;
        padding-left: 0;
        padding-top: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100px;
        margin: .5rem auto;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .colforcities1 {
        width: 100%;
    }

    .colforcities2 {
        width: 100%;
    }

    .colforcities3 {
        width: 100%;
    }

}

/* // Small devices (landscape phones, 630px and up) */
@media (max-width: 630px) {

    #current-weather {
        width: 300px;
    }

}